*{
    margin: 0;
    padding: 20px;
    
    font-family: montserrat,sans-serif;
   
  }
html{
    background-color: rgb(111, 2, 128);
}
.outfit{
display: flex;
flex-direction: column;
border-style:outset;
border-color: black;
border-width: 5px;

background-color: rgb(238, 245, 245);

}
.dataview{
    /* display: flex;
    
    flex-direction:row; */
    color: brown;
    font-size: 30px;
    align-self: center;

}
table{
    text-align: left;
    
    padding: 120px;

}
table, th, td {
    border: 5px solid black;
  }
.top{
    align-self: center;
    font-size: 30px;
}
.down{
    display: flex;
    flex-direction: row;
}
input[name="Go back!"]{
    background:linear-gradient(135deg,red,blue);
    font-size: 20px;
    margin-right: 700px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 0px;
    cursor: pointer;
    border-radius: 20px;
}
input[name="dfinish"]{
    background:linear-gradient(135deg,red,blue);
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
    align-self: flex-end;
    border-radius: 20px;
}
th[name="answer"]{
    color: black;

}